<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technology.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.technology.pojo.Car">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_number" jdbcType="VARCHAR" property="carNumber" />
    <result column="car_licence" jdbcType="VARCHAR" property="carLicence" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="belone_unit" jdbcType="VARCHAR" property="beloneUnit" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="max_passenger" jdbcType="INTEGER" property="maxPassenger" />
    <result column="car_construction" jdbcType="VARCHAR" property="carConstruction" />
    <result column="construction" jdbcType="VARCHAR" property="construction" />
    <result column="contract_addr" jdbcType="VARCHAR" property="contractAddr" />
    <result column="reg_addr" jdbcType="VARCHAR" property="regAddr" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="oc_center" jdbcType="VARCHAR" property="ocCenter" />
    <result column="car_class_id" jdbcType="VARCHAR" property="carClassId" />
    <result column="Commercial_Type" jdbcType="VARCHAR" property="commercialType" />
    <result column="PlateColor" jdbcType="VARCHAR" property="platecolor" />
    <result column="Brand" jdbcType="VARCHAR" property="brand" />
    <result column="Model" jdbcType="VARCHAR" property="model" />
    <result column="VehicleColor" jdbcType="VARCHAR" property="vehiclecolor" />
    <result column="EngineId" jdbcType="VARCHAR" property="engineid" />
    <result column="Vin" jdbcType="CHAR" property="vin" />
    <result column="FuelType" jdbcType="VARCHAR" property="fueltype" />
    <result column="EngineDisplace" jdbcType="VARCHAR" property="enginedisplace" />
    <result column="PhotoId" jdbcType="VARCHAR" property="photoid" />
    <result column="Certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="TransAgency" jdbcType="VARCHAR" property="transagency" />
    <result column="TransArea" jdbcType="VARCHAR" property="transarea" />
    <result column="TransDateStart" jdbcType="CHAR" property="transdatestart" />
    <result column="TransDateStop" jdbcType="CHAR" property="transdatestop" />
    <result column="FixState" jdbcType="VARCHAR" property="fixstate" />
    <result column="NextFixDate" jdbcType="CHAR" property="nextfixdate" />
    <result column="CheckState" jdbcType="CHAR" property="checkstate" />
    <result column="FeePrintId" jdbcType="VARCHAR" property="feeprintid" />
    <result column="GPSBrand" jdbcType="VARCHAR" property="gpsbrand" />
    <result column="GPSModel" jdbcType="CHAR" property="gpsmodel" />
    <result column="GPSIMEI" jdbcType="VARCHAR" property="gpsimei" />
    <result column="GPSInstallDate" jdbcType="CHAR" property="gpsinstalldate" />
    <result column="RegisterDate" jdbcType="CHAR" property="registerdate" />
    <result column="FareType" jdbcType="VARCHAR" property="faretype" />
    <result column="InsurCom" jdbcType="VARCHAR" property="insurcom" />
    <result column="InsurNum" jdbcType="VARCHAR" property="insurnum" />
    <result column="InsurType" jdbcType="VARCHAR" property="insurtype" />
    <result column="InsurCount" jdbcType="VARCHAR" property="insurcount" />
    <result column="InsurEff" jdbcType="CHAR" property="insureff" />
    <result column="InsurExp" jdbcType="CHAR" property="insurexp" />
    <result column="CertifyDateA" jdbcType="VARCHAR" property="certifydatea" />
    <result column="CertifyDateB" jdbcType="VARCHAR" property="certifydateb" />
    <result column="car_origin" jdbcType="TINYINT" property="carOrigin" />
    <result column="use_property" jdbcType="VARCHAR" property="useProperty" />
    <result column="driver_permit_type" jdbcType="VARCHAR" property="driverPermitType" />
    <result column="driver_permit_owner" jdbcType="VARCHAR" property="driverPermitOwner" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_driving_license" jdbcType="VARCHAR" property="vehicleDrivingLicense" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, car_number, car_licence, IMEI, car_type, belone_unit, contract_name, contract_number, 
    create_time, max_passenger, car_construction, construction, contract_addr, reg_addr, 
    province, app, oc_center, car_class_id, Commercial_Type, PlateColor, Brand, Model, 
    VehicleColor, EngineId, Vin, FuelType, EngineDisplace, PhotoId, Certificate, TransAgency, 
    TransArea, TransDateStart, TransDateStop, FixState, NextFixDate, CheckState, FeePrintId, 
    GPSBrand, GPSModel, GPSIMEI, GPSInstallDate, RegisterDate, FareType, InsurCom, InsurNum, 
    InsurType, InsurCount, InsurEff, InsurExp, CertifyDateA, CertifyDateB, car_origin, 
    use_property, driver_permit_type, driver_permit_owner, vehicle_type, vehicle_driving_license
  </sql>
</mapper>